*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}


nav{
    background-color: #f6f6f6;
    border-bottom: 1px solid #404340;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.navbar-brand img {
     width: 145px;
     height: 50px;
}

.nav-item a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    color: #000;
}


.item__talk {
    display: flex;
    padding: 8px 0px;
}   

.nav-link-talk {
    background-color: #FE5656;
    text-decoration: none;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding: 6px 5px;
    border-radius: 3px;
}

.orange {
    color: #FE5656;
}

.black {
    color: #000;
}

.bold {
    font-weight: bold;
}

.presentation {
    text-align: center;
    padding-top: 120px;
}

.titles h1, h2{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.welcome__name {
    font-size: 0.8rem;
}


.welcome__button{
    font-size: 0.8rem;
    background-color: #FE5656;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    padding: 8px 8px;
    text-transform: uppercase;
    font-weight: bold;
}

.scale__up-img {
    padding-top: 20px;
}

.scale__up-img img {
    width: 210px;
    height: 200px;
}

.brands {
    color: white;
    padding: 15px 0px 30px 0px;
}

.brands article {
    text-align: center;
    margin-bottom: 40px;
}

.brands h2{
    color: #000;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0;
    padding: 0 10px 0 10px;
    margin-top: 24px;
    text-shadow: 4px 4px 19px rgba(0,0,0,0.45);
}

.brands h3{
    color: #000;
    margin-top: 30px;
    font-weight: bold;
    font-size:2rem;
    text-shadow: 4px 4px 19px rgba(0,0,0,0.45);
}

.solutions {
     background-color: #292526;
     padding: 60px 15px;
     margin-bottom: 20px;
}

.solutions__article {
    color: #fff;
    text-align: center;
}

.solutions__article h2 {
    font-weight: bold;
    font-size: 1.3rem;
}

.solutions__article p {
    text-transform: uppercase;
    padding-bottom: 20px;
    font-size: 1.3rem;
}

.solutions__icons {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.solutions__icons-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px #FE5656 solid;
    padding: 7px 7px;
    border-radius: 15px;
    width: 160px;
    text-align: center;
    margin: 7px;
}

.solutions__icons-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px #FE5656 solid;
    padding: 7px 7px;
    border-radius: 15px;
    width: 260px;
    text-align: center;
    margin: 7px;
}

.solutions__icons i {
    color: #FE5656;
    padding-bottom: 2px;
    font-size: 1.1rem;
}

.solutions span {
    color: #FE5656;
    font-size: 0.7rem;
}

#paragraphs {
    padding-bottom: 20px;
}

.paragraphs__info{
    display: flex;
    margin: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.paragraphs__info p {
    margin-bottom: 0;
}

.paragraphs__info h2 {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}

.paragraphs__info p {
    text-align: center;
    font-size: 0.7rem;
    margin: 5px;
    padding: 0 20px 0 20px;
}

.paragraphs__info img{
    width: 150px;
    margin-bottom: 15px;
    margin-top: 15px;
}


.our__team{
    background-color: #F6F5F5;
}

.our__team h2{
    text-align: center;
    padding-top: 25px;
    font-size: 2rem;
}

.our__teams-names {
    padding-bottom: 2px;
}

.our__teams-names ul {
    padding-left: 0;
    margin-top: 55px;
    margin-bottom: 0;
}

.our__teams-names li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 40px;
}

.our__teams-names img {  
    width: 70px;
    height: 70px;
}

.our__teams-names h4 {
    text-transform: uppercase;
    color: #FE5656;
    font-weight: bold;
}

.our__teams-names img {
    border-radius: 100%;
}

.our__team-articles {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
    text-align: center;
}

.our__teams-names h4 {
    font-size: 1.1rem;
}

.transform { 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CDC9CA;
    padding: 50px 25px;
    text-align: center;
}

.transform h2 {
    font-weight: bold;
    font-size: 1.2rem;
}

.transform p {
    margin: 1rem 1rem;
    font-size: 0.7rem;
}

.our__proposal {
    text-align: center;
    padding-top: 115px;
}

.our__proposal h1{ 
    font-weight: bold;
}

.our__proposal-section {
    text-align: center;
    padding: 10px 15px 0px 15px;
}

.our__proposal-section h2{
    padding-top: 30px;
    font-weight: bold;
    font-size: 1.2rem;
}

.our__proposal-section h3 {
    margin-top: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.our__proposal-section p {
    margin-bottom: 0;
    font-size: 1rem;
}


.proposal__figure-cards {
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: center;
    text-align: center;
}

.proposal__card {
    border: 1px solid #FE5656;
    margin: 30px 50px;
    padding: 30px;
    border-radius: 20px;
}

.proposal__card h4{
    font-weight: bold;
}

.proposal__card p {
    padding: 15px;
}

.act__fast {
    display: flex;
    justify-content: center;
    padding: 60px;
    border-bottom: 2px solid #c6c2c2;
    --bs-box-shadow-inset: 0 0 10px rgba(0, 0, 0, 0.2);
}

.act__fast article {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.act__fast h2 {
    margin-bottom: 2rem;
    font-weight: bold;
}

.act__fast p {
    margin-bottom: 0;
    font-size: 1.2rem;
}

.act__fast a {
    margin-top: 3.5rem;
    margin-bottom: 2rem;
}

.our__services {
    padding: 40px 12px 0px 12px;
     background-color: #F6F6F6;
     border-bottom: 2px solid #c6c2c2;
    --bs-box-shadow-inset: 0 0 10px rgba(0, 0, 0, 0.2);
}

.our__services h2{
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.our__services-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px;
}

.our__services-text {
    text-align: center;
    padding: 30px;
    margin: 1%;
    width: 85vw;
}

.our__services-text h3 { 
    font-weight: bold;
}

.our__services-text p {
    margin-top: 2rem;
    padding: 10px 24px;
    font-size: 1.2rem;
}

.about__us{
    text-align: center;
    padding: 100px 15px 0px 15px;
    margin-top: 50px;
}

.about__us h1 {
    font-weight: bold;
    font-size: 1.5rem;
}

.about__us h2 {
    padding-top: 15px;
    font-size: 1rem;
    margin-bottom: 50px;
    font-weight: bold;
}

.about__us p {
    font-size: 0.9rem;
    padding: 8px;
}

.about__us-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding-top: 50px;
}

.about__us-team figure {
    margin: 20px;
    text-align: center;
    width: 50vw;
}

.about__us-team img {
    border-radius: 100%;
    width: 115px;
    height: 115px;
}

.about__us-team h5 {
    margin-top: 25px;
    color: #ff734f;
    font-weight: bolder;
    font-size: 1.1rem;
}

.about__us-button {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.our__journey {
    background-color: #292526;
    padding: 30px 30px;
}

.our__journey h2 {
     color: #fe5656;
     font-weight: bold;
     margin-top: 30px;
     padding: 15px;
     margin-bottom: 30px;
     text-align: center;
}

.our__journey-numbers {
    display: flex;
    flex-direction: row;
    padding: 0px 5px 0px 5px;
}

.our__journey-numbers p {
    color: white;
    background-color: #FE5656;
    border-radius: 100%;
    padding: 5px 10px 5px 10px;
}

.our__journey-numbers div {
    width: 35vw;
}

.our__journey-numbers hr {
    color: #FE5656;
}

.our__journey-travel { 
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px;
    flex-wrap: wrap;
    width: 90vw;
}

.our__journey-step {
    text-align: center;
    padding: 0px;
    margin: 1%;
    width: 30vw;
}

.our__journey-step h3 {
    margin-bottom: 13px;
    font-weight: bold;
    font-size: 1rem;
}

.our__journey-step p {
    font-size: 0.6rem;
}

.cvr__hack {
    text-align: center;
    padding: 100px 15px 0px 15px;
    margin-top: 50px;
}

.cvr__hack h1 {
    font-weight: bold;
    font-size: 1.2rem;
}


.cvr__hack h2 {
    padding-top: 15px;
    font-size: 1.6rem;
    margin-bottom: 50px;
    font-weight: bold;
}

.cvr__references { 
    padding: 20px;
}

.cvr__references h4{
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
    font-size: 1rem;
}

.cvr__figures{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 50px;
}


.cvr__references-figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    justify-content: center;
}

.cvr__references-figure img {
    margin-bottom: 5px;
}

.cvr__references-figure span {
    text-align: center;
}

.fa-right-long {
    transform: rotate(90deg);
}

.cvr__box-text { 
    padding: 15px;
}

.cvr__box-text p {
    font-size: 0.8rem;
}


.cvr__box-text img{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 350px;
    height: 160px;
}


.cvr__box-text h3 {
    font-weight: bold;
    margin-bottom: 1rem;
}

.cvr__box {
    text-align: center;
}

.cvr__questions {
    padding: 20px;
}

.cvr__questions-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 20px;
    flex-wrap: wrap;
    width: 90vw;
}

.cvr__card{
    margin: 1%;
    width: 70vw;
}

.cvr__card article {
    display: flex;
}

.cvr__card i {
    color: #fe5656;
    margin: 2px;
    font-size: 1.5rem;
}

.cvr__card h4 {
    padding-left: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.cvr__card ul {
    padding-left: 0;
    margin-bottom: 3rem;
}

footer { 
    background-color: #F6F6F6;
    padding: 40px 0px 30px 0px;
}

.footer__agency {
    display: flex;
    flex-direction: column;
}

.footer__agency-items {
    text-align: center;
    padding: 15px;
    margin: 5px;
}

.footer__agency-items img {
    width: 155px;
    height: 50px;
}

.text__elevate {
    padding-top: 5px;
}

.footer__agency-items p {
    font-size: 0.8rem;
}

.footer__agency-items a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

.footer__agency-items h5 {
    font-weight: bold;
    font-size: 1.1rem;
}

.footer__elevate {
    margin-top: 5px;
}

.copyright{
    text-align: center;
    margin-top: 2rem;
}

.copyright p {
    font-size: 0.7rem;
    margin: 15px;
}

.slider {
    height: 140px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 82vw;
}

.slider .slide-track{
    display: flex;
}

.slide img {
    height: 140px;
    width: 140px;
}

.slider .slide{
    height: 100px;
    width: 245px;
}



/*Tablet*/

@media (min-width: 768px) {

    .titles h1, h2 {
        font-size: 1.8rem;
    }

    .welcome__name p {
        font-size: 1rem;
    }

    .scale__up-img img {
        width: 250px;
        height: 225px;
    }

    .brands {
        padding: 15px 0px 45px 0px;
    }

    .brands h2 {
        text-transform: none;
    }

    .slider {
        height: 200px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 75vw;
    }

    .slide img {
        height: 200px;
        width: 200px;
    }

    .solutions__icons-first {
        width: 130px;
    }

    .solutions__icons i {
        font-size: 1.3rem;
    }

    .solutions__icons span {
        font-size: 1rem;
    }   
    
    .paragraphs__info {
        margin: 10px 0px 25px 2px;
    }

    .paragraphs__info img {
        width: 180px;
    }

    .our__teams-names ul {
        display: flex;
        justify-content: center;
    }

    .our__teams-names img {
        width: 90px;
        height: 90px;
    }

    .footer__agency {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    .our__proposal {
        padding-top: 120px;
    }

    .our__proposal-section {
       padding-top: 10px;
    }

    .proposal__figure-cards {
        align-items: center;
    }

    .proposal__card {
        width: 60%;
    }

    .our__services h2 {
        font-size: 2rem;
    }

    .our__services-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .about__us h1 {
        font-size: 1.8rem;
    }

    .about__us-team {
        display: flex;
        flex-direction: row;
    }

    .about__us-team figure {
        width: 30vw;
    }

    .our__journey-travel {
        padding: 0px 20px 0px 30px;
    }

    .our__journey-numbers div {
        width: 45vw;
    }

    .cvr__hack {
        padding: 110px 15px 0px 15px;
    }

    .cvr__hack h1 {
        font-size: 1.8rem;
    }

    .cvr__card li {
        font-size: 0.9rem;
    }


}


/*Desktop*/

@media (min-width: 1024px) {

    header {
        padding: 15px;
    }

    .navbar-brand img{
        margin: 10px 40px;
        width: 230px;
        height: 60px;
    }

    .navbar-nav {
        padding-right: 20px;
    }

    .navbar-nav {
        display: flex;
        align-items: center;
    }


    .navbar-nav li{
        margin: 5px 5px;
    }

    .nav-item a {
       padding: 10px 10px;
       border-radius: 6px;
       width: 155px;
       text-align: center;
       font-size: 1rem;
    }

    .nav-link:hover {
        transition-duration: 0.2s ;
        color: #fe5656;
    }

    .dropdown-item:hover {
        transition-duration: 0.2s ;
        color: #fe5656;
    }

    .nav-link-talk:hover{
        transition-duration: 0.2s ;
        background-color: #760000;
    }

    .presentation{
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 70vh;
    margin-bottom: 5%;
    padding-top: 30px;
    }


    .titles {
        padding-bottom: 30px;
    }

    .scale__up{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .scale__up-amazon{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        align-items: center;
    }

    .scale__up-amazon h1{ 
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: bold;
    }


    .scale__up-amazon h2{ 
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: bold;
    }

    .welcome__name {
        font-size: 1.4rem;
        margin-bottom: 45px;
    }

    .welcome__button{
        font-size: 1rem;
        background-color: #FE5656;
        border-radius: 12px;
        text-decoration: none;
        color: white;
        width: 310px;
        padding: 8px 0px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .welcome__button:hover {
        transition-duration: 0.2s ;
        background-color: #b90202;
    }

    .scale__up-img{
        padding-top: 300px;
        margin-right: 100px;
    }

    .scale__up-img img {
        width: 560px;
        height: 360px;
    }

    .brands {
        padding: 30px 0px 80px 0px;
    }

    .brands h2{
        font-size: 1.3rem;
        font-weight: bold;
        margin-top: 24px;
        padding: 0;
        margin-bottom: 0;
        text-shadow: 4px 4px 19px rgba(0,0,0,0.45);
    }
    
    .brands h3{
        margin-top: 40px;
        font-weight: bold;
        font-size: 3rem;
        text-shadow: 4px 4px 19px rgba(0,0,0,0.45);
    }

    .slider {
        height: 200px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 52vw;
    }


    .solutions__article h2 {
        font-size: 1.8rem;
        text-transform: none;
    }

    .solutions__article p {
        text-transform: uppercase;
        padding-bottom: 45px;
        font-size: 1.5rem;
    }

    .solutions__icons {
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .solutions__icons-first {
        display: flex;
        flex-direction: row;
        border: 2px #FE5656 solid;
        padding: 7px 7px;
        border-radius: 15px;
        width: 160px;
        text-align: center;
        margin: 7px;
    }
    
    .solutions__icons-second {
        display: flex;
        flex-direction: row;
        border: 2px #FE5656 solid;
        padding: 7px 7px;
        border-radius: 15px;
        width: 260px;
        text-align: center;
        margin: 7px;
        align-items: center;
    }

    .solutions__icons span {
        font-size: 1rem;
    }

    .solutions__icons i {
        color: #FE5656;
        padding-bottom: 0;
        padding-right: 4px;
        font-size: 1.1rem;
    }

    .paragraphs__info{
        display: flex;
        flex-direction: row;
        margin: 10px;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .paragraphs__info img {
        margin: 10px 50px;
        width: 350px;
    }

    .paragraphs__info article {
        text-align: center;
        margin: 10px 50px;
        padding-top: 80px;
    }

    .paragraphs__info h2 {
        margin-bottom: 40px;
        font-weight: bold;
        font-size: 1.8rem;
    }

    .paragraphs__info p {
        font-size: 0.9rem;
    }

    .our__team{
        background-color: #F6F5F5;
    }

    
    .our__teams-names ul {
        display: flex;
        padding-left: 0;
        margin-top: 55px;
    }
    
    .our__teams-names li{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px 40px;
    }

    .our__teams-names img {
        width: 100px;
        height: 100px;
    }
    
    .our__teams-names h4 {
        text-transform: uppercase;
        color: #FE5656;
        font-weight: bold;
    }
    
    .our__teams-names img {
        border-radius: 100%;
    }
    
    .our__team-articles {
        display: flex;
        flex-direction: column;
        margin: 20px 20px;
    }


    .transform { 
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #CDC9CA;
        padding: 80px 50px;
        text-align: center;
    }
    
    .transform h2 {
        font-weight: bold;
        font-size: 2rem;
    }
    
    .transform p {
        margin: 1rem 1rem;
        font-size: 1rem;
    }

    .our__proposal {
        text-align: center;
        padding-top: 100px;
    }

    .our__proposal-section h2{
        padding-top: 30px;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .our__proposal-section h3 {
        margin-top: 30px;
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .our__proposal-section p {
        margin-bottom: 0;
        font-size: 1.2rem;
    }

    .proposal__figure-cards {
        display: flex;
        flex-direction: row;
        padding: 53px;
        justify-content: center;
        text-align: center;
        align-items: stretch;
    }

    .our__proposal h1{
        margin-top: 40px;
        font-weight: bold;
    }

    .our__proposal p{
        font-size: 1.4rem;
    }

    .our__proposal-section {
        padding: 30px 0px 10px 0px;
    }

    .proposal__card {
        border: 1px solid #FE5656;
        margin: 30px 50px;
        padding: 30px;
        border-radius: 20px;
        position: relative;
    }

    .proposal__card:hover {
        transition-property: all;
        opacity: 1;
        transition-duration: 0.1s;
        border-color: #FE5656;
        border-width: 2px; 
    }
    

    .our__services {
        padding: 70px;
        background-color: #F6F6F6;
        border-bottom: 2px solid #c6c2c2;
       --bs-box-shadow-inset: 0 0 10px rgba(0, 0, 0, 0.2);
   }
   

    .our__services h2{
        font-size: 2.8rem;
    }

    .our__services-box {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 15px 20px;
        flex-wrap: wrap;
        align-items: center;
    }

    .our__services-card {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-around;
        align-content: center;
    }

    .our__services-text {
        text-align: center;
        padding: 30px;
        margin: 1%;
        width: 28vw;
    }

    .our__team {
        padding: 60px 60px;
    }

    .our__team h2{
        text-align: center;
        font-weight: bold;
    }

    .our__teams-names {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .about__us{
        text-align: center;
        padding-top: 100px;
        margin-top: 50px;
    }


    .about__us h1 {
        font-weight: bold;
        font-size: 1.9rem;
    }

    .about__us h2 {
        padding-top: 15px;
        font-size: 1.9rem;
        margin-bottom: 50px;
        font-weight: bold;
    }
    
    .about__us p {
        font-size: 1rem;
    }

    .about__us-team {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px;
        padding-top: 70px;
    }

    .about__us-team figure {
        margin: 20px;
        text-align: center;
        width: 20vw;
    }

    .about__us-team img {
        border-radius: 100%;
        width: 200px;
        height: 200px;
    }

    .about__us-team h5 {
        margin-top: 25px;
        color: #ff734f;
        font-weight: bolder;
        font-size: 1.30rem;
    }


    .our__journey h2 {
        font-size: 2rem;
        text-transform: none;
        color: #fe5656;
        font-weight: bold;
        margin-top: 30px;
        padding: 15px;
        margin-bottom: 30px;
        text-align: start;
   }

   .our__journey-numbers {
    display: flex;
    flex-direction: row;
    padding: 0px 20px 0px 20px;
    }

    .our__journey-numbers p {
        color: white;
        background-color: #FE5656;
        border-radius: 100%;
        padding: 7px 14px 7px 14px;
    }

    .our__journey-numbers div {
        width: 45vw;
    }

    .our__journey-travel { 
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 50px;
        flex-wrap: wrap;
        width: 90vw;
    }

    .our__journey-step {
        text-align: center;
        padding: 30px;
        margin: 1%;
        width: 30vw;
    }

    .our__journey-step h3 {
        margin-bottom: 35px;
        font-weight: bold;
        font-size: 1.3rem;
    }

    .our__journey-step p {
        padding: 30px 30px;
        font-size: 1rem;
    }

    .cvr__hack {
        text-align: center;
        padding-top: 100px;
        margin-top: 50px;
    }

    .cvr__hack h1 {
        font-weight: bold;
        font-size: 2.5rem;
    }

    .cvr__hack h2 {
        padding-top: 15px;
        font-size: 1.9rem;
        margin-bottom: 50px;
        font-weight: bold;
        text-transform: none;
    }

    .cvr__references { 
        padding: 40px;
    }
    
    .cvr__references h4{
        text-align: center;
        padding-top: 50px;
        font-weight: bold;
        font-size: 1.3rem;
    }

    .cvr__figures{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 60px;
        padding-bottom: 50px;
    }

    .cvr__box-text { 
        padding: 0px;
    }

    .cvr__box-text img {
        width: 941px;
        height: 200px;
    }
    
    .cvr__box-text p {
        font-size: 1rem;
    }

    .fa-right-long {
        transform: rotate(0deg);
    }

    .cvr__box-text h3 {
        font-weight: bold;
        margin-bottom: 2rem;
        font-size: 1.75rem;
    }

    .cvr__questions {
        padding: 50px;
    }

    .cvr__questions-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 35px;
        flex-wrap: wrap;
        width: 90vw;
    }

    .cvr__card{
        padding: 45px;
        margin: 1%;
        width: 40vw;
    }

    .cvr__card ul {
        margin-bottom: 0;
    }

    /*footer*/

    .footer__agency {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .footer__agency-items{
        text-align: center;
        margin: 10px 25px;
    }

    .footer__agency-items p {
        font-size: 1rem;
    }

    .footer__agency-items h5 {
        font-weight: bold;
        font-size: 1.25rem;
    }
    

    .copyright p {
        font-size: 1rem;
    }

}